@page
@model Enfo.WebApp.Pages.Account.ExternalLogin
@{
    ViewData["Title"] = "Account Error";
}

<h1 class="gaepd-text-danger">@ViewData["Title"]</h1>
<p>
    There was an error creating your account.
    If you need assistance related to this error, please contact EPD IT support.
</p>

<div asp-validation-summary="ModelOnly" class="usa-alert usa-alert-error" role="alert"></div>

@if (Model.DisplayFailedUser != null)
{
    <div class="gaepd-container-light">
        <p>Data received from work account (for diagnostic purposes):</p>
        <dl>
            <dt>@Html.DisplayNameFor(m => m.DisplayFailedUser.Email)</dt>
            <dd>@Html.DisplayFor(m => m.DisplayFailedUser.Email)</dd>
            <dt>@Html.DisplayNameFor(m => m.DisplayFailedUser.UserName)</dt>
            <dd>@Html.DisplayFor(m => m.DisplayFailedUser.UserName)</dd>
            <dt>@Html.DisplayNameFor(m => m.DisplayFailedUser.FamilyName)</dt>
            <dd>@Html.DisplayFor(m => m.DisplayFailedUser.FamilyName)</dd>
            <dt>@Html.DisplayNameFor(m => m.DisplayFailedUser.GivenName)</dt>
            <dd>@Html.DisplayFor(m => m.DisplayFailedUser.GivenName)</dd>
        </dl>
    </div>
}