@page
@using Enfo.Domain.Resources
@using Enfo.Domain.Utils
@model Enfo.WebApp.Pages.CurrentProposed
@{
    ViewData["Title"] = "Current Proposed Enforcement Orders";
}

<h1>@ViewData["Title"]</h1>
<p>(Notices that change weekly)</p>
<p>
    <i>Date of Posting: @DateUtils.MostRecentMonday().ToString(DisplayFormats.LongDate)</i>
</p>

@if (Model.Orders == null || Model.Orders.Count == 0)
{
    <p>
        <b>No Current Proposed Orders</b>
    </p>
}
else
{
    @foreach (var enfo in Model.Orders)
    {
        <h3>Enforcement Order @Html.DisplayFor(m => enfo.OrderNumber)</h3>
        <table class="gaepd-table-compact gaepd-table-rowheadings gaepd-table-autowidth">
            <tbody>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => enfo.FacilityName)</th>
                <td>@Html.DisplayFor(m => enfo.FacilityName)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => enfo.County)</th>
                <td>@Html.DisplayFor(m => enfo.County) County</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => enfo.Cause)</th>
                <td>@Html.DisplayFor(m => enfo.Cause)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => enfo.Requirements)</th>
                <td>@Html.DisplayFor(m => enfo.Requirements)</td>
            </tr>
            <tr>
                <th scope="row">@(enfo.IsExecutedOrder ? "" : "Proposed ")@Html.DisplayNameFor(m => enfo.SettlementAmount)</th>
                <td>@Html.DisplayFor(m => enfo.SettlementAmount)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => enfo.LegalAuthority)</th>
                <td>@Html.DisplayFor(m => enfo.LegalAuthority.AuthorityName)</td>
            </tr>

            <tr>
                <th scope="row">@Html.DisplayNameFor(m => enfo.ProposedOrderPostedDate)</th>
                <td>@Html.DisplayFor(m => enfo.ProposedOrderPostedDate)</td>
            </tr>
            <tr>
                <th scope="row">@Html.DisplayNameFor(m => enfo.CommentPeriodClosesDate)</th>
                <td>@Html.DisplayFor(m => enfo.CommentPeriodClosesDate)</td>
            </tr>
            @if (enfo.CommentPeriodClosesDate.HasValue
                && enfo.CommentPeriodClosesDate.Value >= DateTime.Today
                && enfo.CommentContact != null)
            {
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => enfo.CommentContact)</th>
                    <td>@Html.DisplayFor(m => enfo.CommentContact, "EpdContactView")</td>
                </tr>
            }

            @if (enfo.IsHearingScheduled)
            {
                <tr>
                    <th scope="row">@Html.DisplayNameFor(m => enfo.IsHearingScheduled)</th>
                    <td>
                    <p>
                        <em>@Html.DisplayNameFor(m => enfo.HearingDate)</em><br />
                        @Html.DisplayFor(m => enfo.HearingDate)
                    </p>
                    <p>
                        <em>@Html.DisplayNameFor(m => enfo.HearingLocation)</em><br />
                        @Html.DisplayFor(m => enfo.HearingLocation)
                    </p>
                    <p>
                        <em>@Html.DisplayNameFor(m => enfo.HearingCommentPeriodClosesDate)</em><br />
                        @Html.DisplayFor(m => enfo.HearingCommentPeriodClosesDate)
                    </p>
                    @if (enfo.HearingCommentPeriodClosesDate.HasValue
                        && enfo.HearingCommentPeriodClosesDate.Value >= DateTime.Today
                        && enfo.HearingContact != null)
                    {
                        <p>
                            <em>@Html.DisplayNameFor(m => enfo.HearingContact)</em>
                        </p>
                        @Html.DisplayFor(m => enfo.HearingContact, "EpdContactView")
                    }
                </tr>
            }
            </tbody>
        </table>
        <hr />
    }
}