@page "{id}"
@using Enfo.Domain.Users.Entities
@using Enfo.WebApp.Models
@model Enfo.WebApp.Pages.Admin.Details
@{
    ViewData["Title"] = $"Enforcement Order {Model.Item.OrderNumber}";
}

<partial name="_AlertPartial" for="Message" />

<h1>
    <em>Admin View:</em> @ViewData["Title"]
</h1>

@if (Model.Item.Deleted)
{
    @await Html.PartialAsync("_AlertPartial", new DisplayMessage(Context.Warning,
        "This enforcement order has been deleted and will not be displayed to the public.", false))
}
else if (Model.Item.IsPublic)
{
    <div class="gaepd-noprint">
        <a asp-page="/Details" asp-route-id="@Model.Item.Id">Go to public view</a>
    </div>
}
else
{
    <div>This Order is not publicly viewable.</div>
}

<table class="gaepd-table-compact gaepd-table-rowheadings gaepd-table-autowidth" aria-label="Enforcement order details">
    <tbody>
    <tr>
        <th scope="row">@Html.DisplayNameFor(m => m.Item.PublicationStatus)</th>
        <td>@Html.DisplayFor(m => m.Item.PublicationStatus)</td>
    </tr>
    <tr>
        <th scope="row">@Html.DisplayNameFor(m => m.Item.FacilityName)</th>
        <td>@Html.DisplayFor(m => m.Item.FacilityName)</td>
    </tr>
    <tr>
        <th scope="row">@Html.DisplayNameFor(m => m.Item.County)</th>
        <td>@Html.DisplayFor(m => m.Item.County) County</td>
    </tr>
    <tr>
        <th scope="row">@Html.DisplayNameFor(m => m.Item.Cause)</th>
        <td>@Html.DisplayFor(m => m.Item.Cause)</td>
    </tr>
    <tr>
        <th scope="row">@Html.DisplayNameFor(m => m.Item.Requirements)</th>
        <td>@Html.DisplayFor(m => m.Item.Requirements)</td>
    </tr>
    <tr>
        <th scope="row">@(Model.Item.IsExecutedOrder ? "" : "Proposed ")@Html.DisplayNameFor(m => m.Item.SettlementAmount)</th>
        <td>@Html.DisplayFor(m => m.Item.SettlementAmount)</td>
    </tr>
    <tr>
        <th scope="row">@Html.DisplayNameFor(m => m.Item.LegalAuthority)</th>
        <td>@Html.DisplayFor(m => m.Item.LegalAuthority.AuthorityName)</td>
    </tr>

    @if (Model.Item.IsProposedOrder)
    {
        <tr>
            <th scope="row">@Html.DisplayNameFor(m => m.Item.ProposedOrderPostedDate)</th>
            <td>@Html.DisplayFor(m => m.Item.ProposedOrderPostedDate)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(m => m.Item.CommentPeriodClosesDate)</th>
            <td>@Html.DisplayFor(m => m.Item.CommentPeriodClosesDate)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(m => m.Item.CommentContact)</th>
            <td>
                @if (Model.Item.CommentContact != null)
                {
                    @Html.DisplayFor(m => m.Item.CommentContact, "EpdContactView")
                }
                else
                {
                    <p>N/A</p>
                }
            </td>
        </tr>
    }

    @if (Model.Item.IsExecutedOrder)
    {
        <tr>
            <th scope="row">@Html.DisplayNameFor(m => m.Item.ExecutedDate)</th>
            <td>@Html.DisplayFor(m => m.Item.ExecutedDate)</td>
        </tr>
        <tr>
            <th scope="row">@Html.DisplayNameFor(m => m.Item.ExecutedOrderPostedDate)</th>
            <td>@Html.DisplayFor(m => m.Item.ExecutedOrderPostedDate)</td>
        </tr>
    }

    @if (Model.Item.IsHearingScheduled)
    {
        <tr>
            <th scope="row">@Html.DisplayNameFor(m => m.Item.IsHearingScheduled)</th>
            <td>
            <p>
                <em>@Html.DisplayNameFor(m => m.Item.HearingDate)</em><br />
                @Html.DisplayFor(m => m.Item.HearingDate)
            </p>
            <p>
                <em>@Html.DisplayNameFor(m => m.Item.HearingLocation)</em><br />
                @Html.DisplayFor(m => m.Item.HearingLocation)
            </p>
            <p>
                <em>@Html.DisplayNameFor(m => m.Item.HearingCommentPeriodClosesDate)</em><br />
                @Html.DisplayFor(m => m.Item.HearingCommentPeriodClosesDate)
            </p>
            <p>
                <em>@Html.DisplayNameFor(m => m.Item.HearingContact)</em><br />
            </p>
            @if (Model.Item.HearingContact != null)
            {
                @Html.DisplayFor(m => m.Item.HearingContact, "EpdContactView")
            }
            else
            {
                <p>N/A</p>
            }
        </tr>
    }
    </tbody>
</table>

@if (User.IsInRole(UserRole.OrderAdministrator))
{
    <div>
        @if (Model.Item.Deleted)
        {
            <a asp-page="Restore" asp-route-id="@Model.Item.Id" class="usa-button usa-button-secondary">Restore deleted order</a>
        }
        else
        {
            <a asp-page="Edit" asp-route-id="@Model.Item.Id" class="usa-button usa-button-secondary">Edit</a>
            <a asp-page="Delete" asp-route-id="@Model.Item.Id" class="usa-button usa-button-red">Delete</a>
        }
    </div>
}