@page "{id}"
@using Enfo.Domain.Entities
@using Enfo.WebApp.Platform
@model Enfo.WebApp.Pages.Admin.Edit
@{
    ViewData["Title"] = $"Edit Enforcement Order {Model.OriginalOrderNumber}";
}

<h1>@ViewData["Title"]</h1>

<div class="gaepd-container-light">
    <form method="post" class="usa-form-large">
        <div asp-validation-summary="ModelOnly" class="usa-input-error-message"></div>

        <p>Required fields are marked with an asterisk (<abbr class="required-field-label" title="Required">*</abbr>).</p>

        <fieldset>
            <legend>Facility Information</legend>
            <label asp-for="Item.FacilityName"></label>
            @Html.EditorFor(m => m.Item.FacilityName)
            <span asp-validation-for="Item.FacilityName" class="usa-input-error-message"></span>

            <label asp-for="Item.County"></label>
            <select asp-for="Item.County" asp-items="CommonSelectLists.CountiesSelectList">
                <option value="">→ Select County...</option>
            </select>
            <span asp-validation-for="Item.County" class="usa-input-error-message"></span>
        </fieldset>

        <fieldset>
            <legend>Enforcement Order Details</legend>

            <label asp-for="Item.Cause"></label>
            @Html.EditorFor(m => m.Item.Cause)
            <span asp-validation-for="Item.Cause" class="usa-input-error-message"></span>

            <label asp-for="Item.Requirements"></label>
            @Html.EditorFor(m => m.Item.Requirements)
            <span asp-validation-for="Item.Requirements"></span>

            <label asp-for="Item.LegalAuthorityId"></label>
            <select asp-for="Item.LegalAuthorityId" asp-items="Model.LegalAuthoritiesSelectList">
                <option value="">→ Select Legal Authority...</option>
            </select>
            <span asp-validation-for="Item.LegalAuthorityId" class="usa-input-error-message"></span>

            <label asp-for="Item.OrderNumber"></label>
            @Html.EditorFor(m => m.Item.OrderNumber)
            <span asp-validation-for="Item.OrderNumber" class="usa-input-error-message"></span>

            <label asp-for="Item.SettlementAmount"></label>
            @Html.EditorFor(m => m.Item.SettlementAmount, new
            {
                htmlAttributes = new
                {
                    @class = "usa-input-medium",
                    @pattern = "^\\$?(([1-9](\\d*|\\d{0,2}(,\\d{3})*))|0)(\\.\\d{1,2})?$",
                    @title = "Settlement Amount must be a decimal amount"
                }
            })
            <span asp-validation-for="Item.SettlementAmount" class="usa-input-error-message"></span>
        </fieldset>

        @Html.HiddenFor(m => m.Item.IsProposedOrder)
        @if (Model.Item.IsProposedOrder)
        {
            <fieldset id="proposed-fieldset">
                <legend>Proposed Order Details</legend>

                <label asp-for="Item.CommentContactId"></label>
                @if (Model.Item.IsInactiveCommentContact)
                {
                    <small id="CommentContactIdHelpBlock" class="usa-input-label-helper">
                        The previously entered Comments Contact is no longer available. Please select a new one.
                    </small>
                }
                <select asp-for="Item.CommentContactId" asp-items="Model.EpdContactsSelectList" aria-describedby="CommentContactIdHelpBlock">
                    <option value="">→ Select Contact for Comments...</option>
                </select>
                <span asp-validation-for="Item.CommentContactId" class="usa-input-error-message"></span>

                <label asp-for="Item.CommentPeriodClosesDate"></label>
                <input type="datetime" asp-for="Item.CommentPeriodClosesDate" class="date-picker usa-input-medium proposed-item" />
                <span asp-validation-for="Item.CommentPeriodClosesDate" class="usa-input-error-message"></span>
            </fieldset>
        }

        <fieldset id="executed-fieldset">
            <legend>Executed Order Details</legend>

            @if (Model.Item.IsProposedOrder)
            {
                @Html.EditorFor(m => m.Item.IsExecutedOrder)
                <label asp-for="Item.IsExecutedOrder"></label>
            }
            else
            {
                @Html.HiddenFor(m => m.Item.IsExecutedOrder)
            }

            <div id="executed-details">
                <label asp-for="Item.ExecutedDate"></label>
                <input type="datetime" asp-for="Item.ExecutedDate" class="date-picker usa-input-medium executed-item" />
                <span asp-validation-for="Item.ExecutedDate" class="usa-input-error-message"></span>
            </div>
        </fieldset>

        <fieldset>
            <legend>Public Hearing</legend>

            @Html.EditorFor(m => m.Item.IsHearingScheduled)
            <label asp-for="Item.IsHearingScheduled"></label>

            <div id="public-hearing-details">
                <label asp-for="Item.HearingDate"></label>
                <input type="datetime" asp-for="Item.HearingDate" class="date-time-picker hearing-item" />
                <span asp-validation-for="Item.HearingDate" class="usa-input-error-message"></span>

                <label asp-for="Item.HearingLocation"></label>
                @Html.EditorFor(m => m.Item.HearingLocation, new {htmlAttributes = new {@class = "hearing-item"}})
                <span asp-validation-for="Item.HearingLocation" class="usa-input-error-message"></span>

                <label asp-for="Item.HearingContactId"></label>
                @if (Model.Item.IsInactiveHearingContact)
                {
                    <small id="HearingContactIdHelpBlock" class="usa-input-label-helper">
                        The previously entered Hearing Comments Contact is no longer available. Please select a new one.
                    </small>
                }
                <select asp-for="Item.HearingContactId" asp-items="Model.EpdContactsSelectList" aria-describedby="HearingContactIdHelpBlock">
                    >
                    <option value="">→ Select Contact for Hearing Comments...</option>
                </select>
                <span asp-validation-for="Item.HearingContactId" class="usa-input-error-message"></span>

                <label asp-for="Item.HearingCommentPeriodClosesDate"></label>
                <input type="datetime" asp-for="Item.HearingCommentPeriodClosesDate" class="date-picker usa-input-medium hearing-item" />
                <span asp-validation-for="Item.HearingCommentPeriodClosesDate" class="usa-input-error-message"></span>
            </div>
        </fieldset>

        <fieldset>
            <legend>Publish</legend>

            <label asp-for="Item.Progress"></label>
            <select asp-for="Item.Progress" asp-items="Html.GetEnumSelectList<EnforcementOrder.PublicationState>()">
            </select>
            <span asp-validation-for="Item.Progress" class="usa-input-error-message"></span>

            <div id="publication-date" class="usa-grid-full">
                @if (Model.Item.IsProposedOrder)
                {
                    <div id="proposed-published">
                        <label asp-for="Item.ProposedOrderPostedDate"></label>
                        <input type="datetime" asp-for="Item.ProposedOrderPostedDate"
                               class="date-picker usa-input-medium proposed-item" />
                        <span asp-validation-for="Item.ProposedOrderPostedDate" class="usa-input-error-message"></span>
                    </div>
                }
                <div id="executed-published" class="usa-input-grid usa-input-grid-small">
                    <label asp-for="Item.ExecutedOrderPostedDate"></label>
                    <input type="datetime" asp-for="Item.ExecutedOrderPostedDate"
                           class="date-picker usa-input-medium executed-item" />
                    <span asp-validation-for="Item.ExecutedOrderPostedDate" class="usa-input-error-message"></span>
                </div>
            </div>
        </fieldset>

        <div class="gaepd-buttonrow">
            <input asp-for="Item.Id" type="hidden" />
            <button type="submit">Save Changes</button>
            <a asp-page="Details" asp-route-id="@Model.Item.Id" class="usa-button usa-button-secondary">Cancel</a>
            <input asp-for="OriginalOrderNumber" />
        </div>
    </form>
</div>

@section ScriptFiles
{
    <link rel="stylesheet" href="~/dist/datepicker.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/formEditOrder.css" asp-append-version="true" />
    <script src="~/dist/datepicker.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
    <script src="~/dist/formEditOrder.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
    <script src="~/dist/formValidation.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
}