@page
@using Enfo.Repository.Resources.EnforcementOrder
@using Enfo.Repository.Specs
@using PublicationState = Enfo.Repository.Specs.PublicationState
@model Enfo.WebApp.Pages.Admin.Search

@{
    ViewData["Title"] = "Search Enforcement Orders";
}

<h2>
    <i>Admin:</i> @ViewData["Title"]
</h2>

<div class="gaepd-noprint">
    <a asp-page="/Search" class="gaepd-no-visited">Go to public search</a>
</div>

<div class="gaepd-container-light">
    <form method="get" class="usa-form-large" asp-fragment="search-results">
        <div asp-validation-summary="ModelOnly" class="usa-alert usa-alert-error" role="alert"></div>
        <fieldset class="usa-fieldset-inputs">
            <legend>Details</legend>
            <label asp-for="Spec.Facility"></label>
            <input asp-for="Spec.Facility" name="@nameof(Model.Spec.Facility)" />

            <label asp-for="Spec.County"></label>
            <select asp-for="Spec.County" asp-items="App.SelectLists.CountiesSelectList" name="@nameof(Model.Spec.County)"
                    class="custom-select">
                <option value="">(any)</option>
            </select>

            <label asp-for="Spec.Text"></label>
            <input asp-for="Spec.Text" name="@nameof(Model.Spec.Text)" />

            <label asp-for="Spec.OrderNumber">Order Number</label>
            <input asp-for="Spec.OrderNumber" name="@nameof(Model.Spec.OrderNumber)" />

            <label asp-for="Spec.LegalAuth"></label>
            <select asp-for="Spec.LegalAuth" asp-items="Model.LegalAuthoritiesSelectList" name="@nameof(Model.Spec.LegalAuth)"
                    class="custom-select">
                <option value="">(any)</option>
            </select>
        </fieldset>

        <div class="usa-grid-full">
            <fieldset class="usa-fieldset-inputs usa-width-one-half">
                <legend>Status</legend>
                <ul class="usa-unstyled-list">
                    <li>
                        <input type="radio" name="Status" value="All" id="Status-All"
                               @if (Model.Spec.Status == ActivityState.All)
                               {
                                   <text> checked</text>
                               }>
                        <label for="Status-All">All Orders</label>
                    </li>
                    <li>
                        <input type="radio" name="Status" value="Proposed" id="Status-Proposed"
                               @if (Model.Spec.Status == ActivityState.Proposed)
                               {
                                   <text> checked</text>
                               }>
                        <label for="Status-Proposed">Proposed orders only</label>
                    </li>
                    <li>
                        <input type="radio" name="Status" value="Executed" id="Status-Executed"
                               @if (Model.Spec.Status == ActivityState.Executed)
                               {
                                   <text> checked</text>
                               }>
                        <label for="Status-Executed">Executed orders only</label>
                    </li>
                </ul>
            </fieldset>

            <fieldset class="usa-fieldset-inputs usa-width-one-half">
                <legend>Progress</legend>
                <ul class="usa-unstyled-list">
                    <li>
                        <input type="radio" name="Progress" value="All" id="Progress-All"
                               @if (Model.Spec.Progress == PublicationState.All)
                               {
                                   <text> checked</text>
                               }>
                        <label for="Progress-All">All</label>
                    </li>
                    <li>
                        <input type="radio" name="Progress" value="Published" id="Progress-Published"
                               @if (Model.Spec.Progress == PublicationState.Published)
                               {
                                   <text> checked</text>
                               }>
                        <label for="Progress-Published">Published</label>
                    </li>
                    <li>
                        <input type="radio" name="Progress" value="Draft" id="Progress-Draft"
                               @if (Model.Spec.Progress == PublicationState.Draft)
                               {
                                   <text> checked</text>
                               }>
                        <label for="Progress-Draft">Draft</label>
                    </li>
                </ul>
            </fieldset>
        </div>

        <div class="usa-grid-full">
            <fieldset class="usa-fieldset-inputs usa-width-one-half">
                <legend>Date from</legend>
                <input type="datetime" asp-for="Spec.FromDate" name="@nameof(Model.Spec.FromDate)"
                       class="date-picker usa-input-medium" />
                <span asp-validation-for="Spec.FromDate" class="usa-input-error-message"></span>
            </fieldset>

            <fieldset class="usa-fieldset-inputs usa-width-one-half">
                <legend>Date until</legend>
                <input type="datetime" asp-for="Spec.TillDate" name="@nameof(Model.Spec.TillDate)"
                       class="date-picker usa-input-medium" />
                <span asp-validation-for="Spec.TillDate" class="usa-input-error-message"></span>
            </fieldset>
        </div>

        <div class="gaepd-buttonrow">
            <input type="hidden" name="handler" value="search" />
            <button id="SearchButton" type="submit">Search</button>
            <a asp-page="Search" class="usa-button usa-button-secondary">Clear Form</a>
            @* TODO: Auth *@
            @* @if (User.IsInRole(UserRole.OrderAdministrator)) *@
            @* { *@
            <input type="checkbox" id="Spec_ShowDeleted" name="ShowDeleted" value="true" checked="@Model.Spec.ShowDeleted">
            <label asp-for="Spec.ShowDeleted"></label>
            @* } *@
        </div>
    </form>
</div>

@if (Model.ShowResults)
{
    <div id="search-results">
        @if (Model.OrdersList.CurrentCount == 0)
        {
            <h3>No results found.</h3>
        }
        else
        {
            <partial name="_PaginationCount" model="Model.OrdersList" />
            <partial name="_PaginationNav" model="(Model.OrdersList, Model.Spec.AsRouteValues)" />
            <table class="usa-table-borderless gaepd-table-responsive">
                <thead>
                <tr>
                    <th scope="col" class="gaepd-sortable"
                        @if (Model.Spec.Sort == OrderSorting.FacilityAsc)
                        {
                            @:aria-sort="ascending"
                        }
                        else if (Model.Spec.Sort == OrderSorting.FacilityDesc)
                        {
                            @:aria-sort="descending"
                        }
                        data-label="Sort by">
                        <a asp-fragment="search-results" asp-all-route-data="Model.Spec.AsRouteValues" asp-route-handler="search"
                           asp-route-SortOrder="@(Model.Spec.Sort == OrderSorting.FacilityAsc ? OrderSorting.FacilityDesc : OrderSorting.FacilityAsc)">
                            Facility
                        </a>
                    </th>
                    <th scope="col">Order</th>
                    <th scope="col" colspan="2" class="gaepd-sortable"
                        @if (Model.Spec.Sort == OrderSorting.DateAsc)
                        {
                            @:aria-sort="ascending"
                        }
                        else if (Model.Spec.Sort == OrderSorting.DateDesc)
                        {
                            @:aria-sort="descending"
                        }
                        data-label="Sort by">
                        <a asp-fragment="search-results" asp-all-route-data="Model.Spec.AsRouteValues" asp-route-handler="search"
                           asp-route-SortOrder="@(Model.Spec.Sort == OrderSorting.DateAsc ? OrderSorting.DateDesc : OrderSorting.DateAsc)">
                            Status/Date
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (EnforcementOrderAdminSummaryView enfo in Model.OrdersList.Items)
                {
                    <tr>
                        <th scope="row" data-label="Facility">
                            @enfo.FacilityName <br />
                            <i>@enfo.County County</i>
                        </th>
                        <td data-label="Order">
                            @Html.DisplayFor(modelItem => enfo.OrderNumber)<br />
                            <i>@Html.DisplayFor(m => enfo.LegalAuthority.AuthorityName)</i>
                        </td>
                        <td data-label="Status/Date">
                            @if (enfo.IsExecutedOrder)
                            {
                                <b>Executed&nbsp;On</b>
                                <br />
                                @Html.DisplayFor(m => enfo.ExecutedDate)
                            }
                            else if (enfo.IsProposedOrder)
                            {
                                <b>Proposed&nbsp;On</b>
                                <br />
                                @Html.DisplayFor(m => enfo.ProposedOrderPostedDate)
                            }
                            else
                            {
                                <b>error</b>
                            }
                        </td>
                        <td class="gaepd-tablecell-nolabel">
                            <a asp-page="Details" asp-route-id="@enfo.Id">View</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

            <partial name="_PaginationNav" model="(Model.OrdersList, Model.Spec.AsRouteValues)" />
        }
    </div>
}

@section ScriptFiles
{
    <link rel="stylesheet" href="~/dist/datepicker.css" asp-append-version="true" />
    <script src="~/dist/datepicker.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
    <script src="~/dist/formSearch.bundle.js" asp-append-version="true" type="text/javascript" defer></script>
}