@model Enfo.Domain.EpdContacts.Resources.EpdContactView
<p class="text-nowrap">
    @Model.Street
    @if (!string.IsNullOrWhiteSpace(Model.Street2))
    {
        <br />
        @Model.Street2
    }
    <br />
    @Model.City, @Model.State @Model.PostalCode
</p>