@model Enfo.Repository.Resources.EpdContact.EpdContactView
<p class="text-nowrap">
    @Model.ContactName<br />
    @Model.Title<br />
    @Model.Organization
</p>

@Html.DisplayFor(m => m.Address, "AddressView")

@if (!string.IsNullOrEmpty(Model.Telephone) || !string.IsNullOrEmpty(Model.Email))
{
    <p class="text-nowrap">
        <a href="mailto:@(Model.Email)">@Model.Email</a>
        @if (!string.IsNullOrEmpty(Model.Telephone) && !string.IsNullOrEmpty(Model.Email))
        {
            <br />
        }
        @Model.Telephone
    </p>
}