@model Enfo.Domain.Resources.EpdContact.EpdContactView
<p class="text-nowrap">
    @Model.ContactName<br />
    @Model.Title<br />
    @Model.Organization
</p>

<p class="text-nowrap">
    @Model.Street
    @if (!string.IsNullOrWhiteSpace(Model.Street2))
    {
        <br />
        @Model.Street2
    }
    <br />
    @Model.City, @Model.State @Model.PostalCode
</p>

@if (!string.IsNullOrEmpty(Model.Telephone) || !string.IsNullOrEmpty(Model.Email))
{
    <p class="text-nowrap">
        <a href="mailto:@(Model.Email)">@Model.Email</a>
        @if (!string.IsNullOrEmpty(Model.Telephone) && !string.IsNullOrEmpty(Model.Email))
        {
            <br />
        }
        @Model.Telephone
    </p>
}